/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
/* general */
.container{
    width: 1200px;
    margin: auto;
}
/* header */
.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}
.logo > img{
    display: block;
    height: 50px;
}
.header-container > *{
    color: white;
}
.items > *{
    margin-left: 10px;
}
.gender > *{
    margin-right: 10px;
    text-decoration: none;
    color: white;
}
/* main */
.main-container{
    width: 100%;
    margin: auto;
}
.row-1-3{
    display: flex;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}
.card-box{
    width: calc(100% / 3 );
    margin-top: 50px;
}
.card-box > img{
    width: 100%;
    display: block;
}
